---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/pages/_about.scss";
---

<BaseLayout>
    <div id="about-container">
        <div id="intro">
            <div class="intro__content">
                <h1>Biography</h1>
                <p>
                    Aditya Mahankale is a Mumbai-based photographer specializing
                    in fashion and advertising. With a passion rooted in visual
                    arts, he brings expert knowledge in high-end advertising
                    photography, capturing compelling stories for top brands and
                    campaigns. From movie posters to global brand shoots,
                    Aditya's work combines technical precision with creative
                    flair, ensuring every image resonates. Highly organized and
                    deadline-driven, he's dedicated to delivering outstanding
                    results that elevate brands.
                </p>
            </div>
            <img id="headshot" src="/adi.jpg" alt="Aditya Mhankale Headshot" />
        </div>

        <div id="niches">
            <h2>My niches</h2>
            <ul class="niches__niches">
                <li class="niches__niche">Fashion</li>
                <li class="niches__niche">Advertising</li>
                <li class="niches__niche">Commercial Campaigns</li>
                <li class="niches__niche">Brand Shoots</li>
                <li class="niches__niche">Movie/Web Series Posters</li>
                <li class="niches__niche">
                    High-End Retouching & Post-Production
                </li>
            </ul>
        </div>
    </div>
</BaseLayout>
